:root {
    --cor-primaria: #211522;
    --cor-secundaria: #613659;
    --cor-terciaria: #D3B1C2;
    --cor-quartenaria: #C197D2;
}

.bg-secondary {
    background-color: var(--cor-secundaria) !important;
}

.sidebar {
    font-size: 1.7em;
}

.sidebar :is(.nav, div) a:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria) !important;
    transition: .4s;
}

.sidebar .material-symbols-outlined {
    font-size: 1.6em;
}

.text-secondary {
    color: var(--cor-terciaria) !important;
}

.bg-primary {
    background-color: var(--cor-primaria) !important;
}

.musica-destaque {
    height: 700px;
}

.bg-gradient {
    background-image: linear-gradient(to right, transparent, var(--cor-terciaria)) !important;
}

.titulo-musica-destaque {
    font-size: 3em;
}

.botao:hover {
    background-color: #462640 !important;
}