:root {
    --bs-secondary-rgb: #613659;
}

body {
    display: flex;
    min-height: 100vh;
}

.bg-secondary {
    background-color: var(--bs-secondary-rgb) !important;
}

.sidebar {
    font-size: 1.7em;
}

.sidebar .material-symbols-outlined {
    font-size: 1.6em;
}

.text-secondary {
    color: #D3B1C2 !important;
}